@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

/* Hide the default scrollbar for webkit browsers */
::-webkit-scrollbar {
  width: 4px; /* Set the width of the scrollbar */
}

/* Handle portion of the scrollbar */
::-webkit-scrollbar-thumb {
  background-color: rgb(107, 107, 107, 0.4); /* Color of the scrollbar handle */
}

/* Track portion of the scrollbar */
::-webkit-scrollbar-track {
  background-color: transparent; /* Color of the scrollbar track */
}

/* Make the scrollbar buttons (arrows) invisible */
::-webkit-scrollbar-button {
  display: none;
}
